<!doctype>
<html>
<head>
  <title>RockPaperScissor</title>
  <script src="https://code.jquery.com/jquery-3.1.0.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Geo|Press+Start+2P" rel="stylesheet">
  <script src="https://use.fontawesome.com/02297e0d2a.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

  <main>
    <h1>Rock Paper Scissors</h1>
    <section class="scoreboard">
      <h3>Player Score</h3>
      <div id="playerScore">0</div>
      <h3>Computer Score</h3>
      <div id="computerScore">0</div>
      <h4 id="message"></h4>
    </section>
    <section class="move-buttons">
      <!--<div class="icons"></div>
      <div class="icons"></div>-->
      
      <div id="rock"></div>
      <div id="paper"></div>
      <div id="scissors"></div>
    </section>
  </main>

</body>
</html>
